# Build
target/
*.jar
dependency-reduced-pom.xml
installer/build/javagen.jar
!installer/build/javagen-setup.nsi
!installer/build/LICENSE.txt
!installer/build/build.bat

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# OS
.DS_Store
Thumbs.db
