package {{packageName}}.entity;

import jakarta.persistence.*;
import lombok.Data;

@Data
@Entity
@Table(name = "home")
public class HomeEntity {

    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    private Long id;

    private String name;
    // TODO: Add fields
}
