package {{packageName}}.controller;

import org.springframework.web.bind.annotation.*;

@RestController
@RequestMapping("/api")
public class HomeController {

    @GetMapping("/health")
    public String health() {
        return "{{projectName}} API is running";
    }

    // TODO: Add endpoints
}
