# Database Configuration
spring:
  datasource:
    driver-class-name: {{#database}}org.postgresql.Driver{{/database}}{{#database}}com.mysql.cj.jdbc.Driver{{/database}}{{#database}}com.mongodb.client.MongoClient{{/database}}
    url: jdbc:{{database}}://localhost:{{#database}}5432{{/database}}{{#database}}3306{{/database}}/{{projectName}}_db
    username: ${DB_USER:root}
    password: ${DB_PASS:secret}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: {{#database}}org.hibernate.dialect.PostgreSQLDialect{{/database}}{{#database}}org.hibernate.dialect.MySQLDialect{{/database}}
